body,html{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}

header{
    background-color: brown;
}

.header h1{
    top: 10px;
    position: relative;
}

.header p{
    top: 5px;
    position: relative;
    left: 5px;
}
.header{
    color: white;
    background-color: brown;
}

li{
    display: inline;
}

nav{
    background-color: black;
    text-align: end;
}

li a{
    color: white;
    text-decoration: none;
    padding: 5px;
}

a:hover{
    color: chartreuse;
}

.footer{
    background-color: brown;
    color: white;
    text-align: center;
    padding: 10px;
}

.footer p{
    margin: 0%;
}

